<!DOCTYPE html>

<html>
<head>
  {% include "template_head.html" %}
</head>

<body>
  {% include "template_menu.html" %}

  <div id="notification"></div>

  <div class="container clearfix">
    <div class="row clearfix" id="introduction">
      <h2>Your games</h2>
      <form id="create-game-form">
        <h3>Create a game</h3>
        <input type="text" name="game-title" id="game-title" placeholder="Game title" required />
        <button type="submit" class="submit btn btn-small">Submit</button>
      </form>
    </div>
    <div class="row clearfix" id="game-teasers">
    </div>
  </div>

  <!-- Modal -->
  <div id="game-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="game-modal-title"></h4>
        </div>

        <div class="modal-body" id="game-modal-body">
          <div clasS="forms">
            <form id="create-question-form" class="col-xs-12">
              <h4>Create a question</h4>
              <input type="text" name="question" id="question" placeholder="Question" required class="col-xs-12" />
              <input type="text" name="correct-answer" id="correct-answer" placeholder="Correct answer"  class="col-xs-12" required />
              <input type="text" name="incorrect-answer" placeholder="Wrong answer" class="incorrect-answer col-xs-12" required />
              <input type="text" name="incorrect-answer" placeholder="Wrong answer" class="incorrect-answer col-xs-12" required />
              <input type="text" name="incorrect-answer" placeholder="Wrong answer" class="incorrect-answer col-xs-12" required />
              <input type="hidden" name="urlsafe-key" id="game-modal-urlsafe-key" class="urlsafe-key col-xs-12" required />
              <button type="submit" class="btn btn-primary col-xs-12">Save question</button>
            </form>

            <form id="set-playmode-form" class="col-xs-12">
              <label><input type="checkbox" name="playmode" value="true" id="playmode" required/> I'm done adding questions to this game.</label>
              <input type="hidden" name="urlsafe-key" id="game-modal-playmode-urlsafe-key" class="urlsafe-key col-xs-12" required />
              <button type="submit" class="btn btn-primary col-xs-12">Set playmode</button>
            </form>
            <p class="warning">Warning: once you have put a game into playmode you cannot add anymore questions to it.</p>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>
</html>