<link rel="stylesheet" type="text/css" href="/css/style-main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script type="text/javascript">

</script>

<script type="text/javascript">
    function init() {
        console.log("INIT");
        gapi.client.load('questions', 'v1', startUp, ROOT);
    }
</script>

<script src="/js/js.cookie.js"></script>

<script src="/js/quizzles.js"></script>
<script src="/js/mustache.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<script src="https://apis.google.com/js/client.js?onload=init"></script>


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">